
$primary:#A3B18A;
$secondary:#D4A373;
$dark:#FAF3E0;
$black:#344E41;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif:"Hind Madurai", serif !default;



@import "../node_modules/bootstrap/scss/bootstrap.scss"